/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* GOLD THEME */
.gold {
    color: gold;
}
.gold-bg {
    background: #000000;
}
.dark-bg {
    background: black;
}

/* BUTTON */
.btn {
    background: gold;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    transform: scale(1.08);
}

/* ===== IMAGE GALLERY ===== */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

.gallery img {
  width: 250px;
  height: auto;
  border: 3px solid gold;
  border-radius: 15px;
  transition: transform 0.4s;
}

.gallery img:hover {
  transform: scale(1.05);

}
/* HEARTS */
.heart {
    position: fixed;
    bottom: -20px;
    width: 22px;
    height: 22px;
    background: gold;
    clip-path: path("M10 3 C10 -1, 0 -1, 0 6 C0 12, 10 17, 10 20 C10 17, 20 12, 20 6 C20 -1, 10 -1, 10 3 Z");
    opacity: 0.85;
    animation: floatUp linear forwards;
}
@keyframes floatUp {
    to {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

/* FIREWORKS */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* GIFT */
.gift {
    width: 360px;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.gift:active {
    transform: scale(1.15);
}

/* MESSAGE CARD */
.message-box {
    width: 80%;
    background: #111;
    padding: 25px;
    border: 1px solid gold;
    border-radius: 10px;
    font-size: 20px;
    line-height: 32px;
}
